
class ${domainAbstr.name} << ${domainAbstr.class.simpleName} >> {

	<% domainAbstr.domainProperties.each { %>
	${it.name}
	<% } %>
}

<% if(domainAbstr.requirement) { %>
 note "${generator.getNote(domainAbstr)}" as N${domainAbstr.name}
 ${domainAbstr.name} .. N${domainAbstr.name}
<% } %>

<% 	domainAbstr.domainReferences.each {%>
	${domainAbstr.name} --  <% (it.referenceType == 'hasMany' ? '"*" ' : '"1" ')  %>
	${it.referencedObject.name}

<% } %>
