
class ${domainAbstr.name} << ${domainAbstr.class.simpleName} >> {
	
}
<% if(domainAbstr.requirement) {
 out << "note \"${generator.plantuml.PlantUmlGenerator.getNote(domainAbstr)}\" as N${domainAbstr.name}\n"
 out << "${domainAbstr.name} .. N${domainAbstr.name}"
 } %>

<% 	domainAbstr.domainReferences.each { 
	out << "${domainAbstr.name}"
	out << " -- "
	out << "${it.referencedObject.name}\n" 
	}	
%>
