@startUml
<% domainModel.domainObjects.each { out << generator.plantuml.PlantUmlGenerator.domainObjectToPlantUml(it)	} %>
<% domainModel.otherDomainAbstractions.each {	out << generator.plantuml.PlantUmlGenerator.otherDomainAbstractionsToPlantUml(it) } %>
@enduml 