@startUml
<% domainModel.domainObjects.each { out << generator.otherDomainAbstractionsToPlantUml(it)	} %>
<% domainModel.otherDomainAbstractions.each {	out << generator.otherDomainAbstractionsToPlantUml(it) } %>
@enduml 